.flex-container {
    display: flex;
    flex-flow: row wrap;
}

section {
    padding: 3rem;
    width: calc(100%/2);
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

/* :nth child selectors - selects elements based on their position as a child in any parent element*/

section:first-child {
    background-color: crimson;
}

section:last-child {
    background-color: steelblue;
}

section:nth-child(2) {
    background-color: tomato;
}

section:nth-child(3) {
    background-color: khaki;
}

section:nth-last-child(3) {
    background-color: lightgreen;
}

section:nth-last-child(2) {
    background-color: lightseagreen;
}

/* The section inside the footer element is both the first child and last child of the parent element. It's also the only section on the page that is an only child. */
section:only-child {
    background-color: whitesmoke;
    color: darkslategray;
    width: 100%;
}

/* add a media query to change layout and order of items */
@media screen and (min-width: 950px) {
    /** first, go from a 2 column to a 3 column layout **/
    /** note: this does not override the footer width because of the selector weight **/
    section {
        width: calc(100%/3);
    }

    /** secondly, change the order of the items in the layout **/
    /** by default, every item has an order position of "0", if we want something to come before everything else, it gets a position of less than 0 (i.e. -1) **/

    section:last-child,
    section:nth-child(6) {
        order: -1;
    }
    /* task - position items in this order: 6, 4, 2, 5, 3, 1 */
    /* moving the 4th section to the second spot */
    section:nth-child(4) {
        order: 0;
    }
    
    section:nth-child(2) {
        order: 1;
    }

    section:nth-child(5) {
        order: 2;
    }

    section:nth-child(3) {
        order: 3;
    }

    section:nth-child(1) {
        order: 4;
    }
}



