/* Generic css goes first. This css applies to all screen widths unless it's overwritten in a media query. */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    color: #fff;
}
.a,
.b,
.c {
    /* viewport units represent a percentage of the current brower viewport */
    width: 100vw;
    /* Using calc() is better than a percentage in this case - 33.33333% */
    height: calc(100vh/3);
    padding: 20px;
    background-color: #a91b0d;
}

.b {
    background-color: #fe9547;
}

.c {
    background-color: #fed547;
}

/* Media queries specify a min-width as a condition and those styles are applied at that screen width and above */

@media only screen and (min-width: 800px) {
    .a {
        background-color: #39d339;
    }
}

@media only screen and (min-width: 1000px) {
    .b {
        background-color: #3999d3;
    }
}

@media only screen and (min-width: 1200px) {
    .c {
        background-color: #a543e8;
    }
    .a,
    .b,
    .c {
        width: 75vw;
        margin: 0 auto;
    }
}